*{
    background-color: bisque;
}
#pavan{
    color: whitesmoke;
    padding-left: 60px;
    padding-right: 60px;
    
}


.kana{
    color: blue;
    font-size: 30px;
}
.kana{
    color: blue;
}
#ayushi{
    color: brown;
}
#anu{
    color: brown;
    text-align: left;
}